.main {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Above code not needed  */
.card-grad {
    background: rgb(224, 224, 224);
    background: linear-gradient(30deg, rgba(120, 120, 120, 1) 0%, rgba(137, 135, 135, 1) 27%, rgba(255, 255, 255, 1) 81%);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-grad .row-flex img {
    width: 100px;
    height: auto;
}

.card-grad .row-flex {
    display: flex;
    max-width: 320px;
}

.card-grad .div-50 {
    width: 50%;
}

.card-grad .text-c {
    text-align: center;
}

.card-grad h3 {
    margin: 0;
    color: #005E8A;
}

.card-grad ul {
    list-style: "- ";
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 13px;
    color: #353535;
}

.card-grad .btn-container a {
    background: #fa3;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
}

.card-grad .btn-container a:hover {
    background: #000;
}
.card-grad .btn-container p {
    font-weight: bold;
}